# CONFIG_DEBUG_KERNEL is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_AUDIT is not set
# CONFIG_QCOM_MINIDUMP_PANIC_DUMP is not set
# CONFIG_QTI_TZ_LOG is not set
# CONFIG_MSM_TZ_QSEE_LOG is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_INLINE_OPTIMIZATION=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_LLVM_POLLY=y
CONFIG_COMPAT_VDSO=y
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_CMDLINE="mitigations=off cgroup_disable=pressure"
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_CMDLINE_EXTEND=y
CONFIG_WIREGUARD=y
CONFIG_FAIR_GROUP_SCHED=y
