config LDO_VIBRATOR_MMI
	tristate "LDO VIBRATOR MMI"
	help
	  Say Y here if you have LDO VIBRATOR MMI
	  defined in your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called ldo_vibrator_mmi.
