#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_CHIPONE
	tristate "Moto CHIPONE Touchscreen"
	depends on I2C
	default n
	help
	  Say Y here if you have Moto Chipone touch panel.
	  If unsure, say N.
